html{
    font-size: 100%;
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lexend Deca', sans-serif;
}

a{
    text-decoration: none;
    color: transparent;
}

h1{
    font-family: 'Big Shoulders Display', cursive;
    font-size: 40px;
}

p{
    font-size: 13px;
    word-spacing: 3px;
    line-height: 1.8;
    letter-spacing: 1px;
}

h1, p, a:visited{
    color: #fff;
}

main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 920px;
    height: 500px; /* forse da togliere*/
}

.big_btn{
    width: 146px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: #fff;
}

.labels{
    width: calc(100% / 3);
    padding: 48px 0 48px 50px ;
}

#sedans_label{
    background-color: hsl(31, 77%, 52%);
}

#suvs_label{
    background-color: hsl(184, 100%, 22%);
}

#luxury_label{
    background-color: hsl(179, 100%, 13%);
}

#sedans_text{
    color: hsl(31, 77%, 52%);
}

#suvs_text{
    color: hsl(184, 100%, 22%);
}

#luxury_text{
    color: hsl(179, 100%, 13%);
}